@{
    ViewBag.Title = "About";
}
<div class="banner-container">
    <img class="banner-image" src="~/Content/images/AboutUsPicCropped.jpg" alt="sunrise" />
</div>
<div class="centered-banner">
    <h1 class="big-text">
        <strong>ABOUT US:</strong>
    </h1>
</div>

<div class="about-page-text">
    <h1 class="text-center">
        <strong>Our Story - </strong>
    </h1>
    <p>
        <h2>
            We are your local physical therapy clinic. We have been in business for over 25 years and in that time we have helped tens of thousands of people recover and
            perform at their peak ability. We can help people no matter their lifestyle, sport, or hobby to recover faster and completely so that we can all get back to
            doing what we love in no time.
        </h2>
    </p>
    <br />
    <img class="banner-image" src="~/Content/images/Teamwork.jpg" />
    <br />
    <h1 class="text-center">
        <strong>Our Mission - </strong>
    </h1>
    <p>
        <h2>
            To be a convinient solution to anyone who is wanting to recover from an injury or chronic pain so that they can get back to doing what they love.
        </h2>
    </p>
    <br />
    <img class="banner-image" src="~/Content/images/Running in park.jpg" />
    <br />
    <h1 class="text-center">
        <strong>Our Promise - </strong>
    </h1>
    <p>
        <h2>
            We will provide timely support in a professional manner. We will in ensure quality in our work and haste in your recovery.
        </h2>
    </p>
</div>

<style>
    .banner-image {
        margin: 5vh;
        width: 80vw;
    }
</style>