
@{
    ViewBag.Title = "Exercise";
}

<div class="jumbotron text-center exerciseTop">
    <h2>ORROCK/MENDENHALL</h2>
    <h1 class="EXTitle">EXERCISES</h1>
    <br/>
    <br/>
    <h3>“All growth depends upon activity. There is no development physically or intellectually without effort, and effort means work.” – Calvin Coolidge</h3>
</div>
<br/>
<br/>
<div class="text-center">
    <div class="dropdown">
        <button class="dropbtn">Choose An Exercise</button>
        <div class="dropdown-content">
            @foreach (string name in @ViewBag.Exercises)
            {
                
                @Html.ActionLink(@name, "ExerciseInfo", "Home", new { exName =  @name}, null) // passing in the name as the parameter for the Exercise info page
            }
        </div>
    </div>
</div>
